#searchbar {
  margin: 10px;
  font-size: 20px;
}

#card_name {
  text-align: center;
  font-size: 24px;
}

#card_info{
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.page_button {
  margin: 10px;
  font-size: 20px;
  float: right;
}

#card_image {
  margin: 10px;
}

#card_name {
  font-size: 18px;
  font-weight: bold;
}

#card_info {
  font-size: 14px;
  font-style: italic;
}

#card_price {
  font-size: 14px;
  font-weight: bold;
}

label {
  margin: 5px;
}

#cvv {
  margin-bottom: 10px;
}

#cart {
  margin: 10px;
  width: 35vh;
}

#userInfo {
  margin: 10px;
  width: 73vh;
}

.checkout {
  text-align: center;
}

#city {
  width: 100px;
}

#stateLabel {
  margin-left: 10px;
}

#state {
  width: 45px;
}

#zipLabel {
  margin-left: 10px;
}

#zip {
  width: 60px;
}

#expirationDate {
  width: 55px;
}

#cvvLabel {
  margin-left: 10px;
}

#cvv {
  width: 40px;
}

input:invalid {
  background-color: #ffdddd;
}

#confirmation {
  margin: 10px;
}

#addLine2 {
  padding-left: 75px;
}

#summary {
  margin: 10px;
  width: 200px;
}

.finalOrder {
  text-align: center;
}

.Pokemon-card-picture{
  margin: 5px;
}

.changing_cart {
  text-align: center;
}